defaults:
  - _self_

system:
  device: "cuda"
  seed: 42
  num_workers: 0

data:
  size: 1024
  batch_size: 1
  augment: false
  aug_params:
    prob: 0.5
    flip: true
    rotate: false
    rotate_limit: 30
    brightness: true
    blur: true
    noise: false

  reflection:
    root_dir: "C:\\Users\\msado\\Studia\\MobileSAM\\MobileSAM-Shadow\\data\\DEROBA_test2"
    images_dir: "${data.reflection.root_dir}\\images"
    masks_dir: "${data.reflection.root_dir}\\masks"
    obj_masks_dir: "${data.reflection.root_dir}\\object_masks"
  shadow:
    root_dir: "C:\\Users\\msado\\Studia\\MobileSAM\\MobileSAM-Shadow\\data\\prepared_soba"
    images_dir: "${data.shadow.root_dir}\\images_test"
    masks_dir: "${data.shadow.root_dir}\\masks_test"
    obj_masks_dir: "${data.shadow.root_dir}\\object_masks_test"
  normal:
    root_dir: "C:\\Users\\msado\\Studia\\MobileSAM\\MobileSAM-Shadow\\data\\DEROBA_test2"
    images_dir: "${data.normal.root_dir}\\images_without_reflection"
    masks_dir: "${data.normal.root_dir}\\object_masks"
    obj_masks_dir: "${data.normal.root_dir}\\object_masks"

model:
  type: "vit_t"
  pretrained_path: "weights/mobile_sam.pt"

pruning:
  enabled: true
  base_ckpt: "weights/mobile_sam.pt"
  iterations: 5
  finetune_epochs: 5
  lr: 1e-4
  patience: 3
  target_sparsity: 0.5      
  amount_per_iter: 0.1

train:
  epochs: 5
  lr: 1e-4
  weight_decay: 5e-2
  grad_clip: 1.0
  amp: false
  val_split: 0.1
  patience: 3
  resume_ckpt: ""
  output_ckpt: "weights/mobilesam_base.pt"
  artefact_loss_weight: 3.0
  tuning_strategy: full_model
  qat_enabled: true
  qat_type: int8_dyn_act_int4_weight

test:
  vis_dir: "predictions_debug"
  vis_num: 20
  vis_every: 5
  quantization: "none" # none | fp16 | int8_dynamic | int8_static
  quant_calib_batches: 8

wandb:
  enabled: true
  project: "mobilesam-QAT-test"
  entity: null
  mode: "online"
  wandb_images_num: 50
  run_name: "run_${now:%Y-%m-%d_%H-%M-%S}_${test.quantization}"
